<%- include("partial/head") %>
<%- include("partial/sidebar_left") %>
    <div class="card p-4 w-50 m-auto">
    <% if(user) {%> 
        <img src="<%=user.image.url %>" class="avatar img-fluid" >
        <p class="m-auto p-4"><i><a href="https://www.youtube.com/watch?v=y9Trdafp83U">you tell me?</a></i></p>
        <div class="card-body">
          <h2 class="card-title"> <%=user.name %></h2>
          <p class="card-title"><b>Email: </b><%=user.email %></p>
          <p class="card-title"><b>Department: </b><%=user.department%></p>  
          <p class="card-title"><b>Registration: </b><%=user.reg%></p>  
          <p class="card-title"><b>Contribuition:</b> 0</p>       
        </div>
      </div>

<% } %> 
<%- include("partial/foot") %>
