<%- include("partial/head") %>
<%- include("partial/simplenavbar") %>
<%- include("partial/sidebar_left") %>
    <div class="card p-4 w-50 m-auto shadow" style="border-radius:20px;">
      <% if(user) {%> 
        <% if(user._id.equals(currentUser._id)){ %>
          <form action="/profile/<%=user._id%>" method="POST">
            <button class="btn btn-primary d-none" type="submit"> save changes</button>
            <br>
          <div class="d-flex w-50 ">
          <a href="<%=user.avatar.url %>"></a><img src="<%=user.avatar.url %>" class="avatar img-fluid" id="dp"></a>
          <% if(user.contribution<500){ %> 
            <div>
              <h3 class="card-title" style="color: #109cec;"> <%=user.name %></h3>
              <br>
              <div class="p-2" style="border-radius: 20px; background-color: #d1e5f1">
              <p class="m-auto card-title" style="font-size:small;font-weight:bolder;color: #109cec;">Contribution: <%=user.contribution%></p>
            </div>
            </div>
          <% }else{ %> 
            <div>
            <h3 class="card-title" style="color: #c808ee;"> <%=user.name %></h3>
            <br>
            <div class="p-2" style="border-radius: 20px; background-color: #F9E7FB">
            <p class="m-auto card-title" style="font-size:small;font-weight:bolder;color: #c808ee;">Contribution: <%=user.contribution%></p>
          </div>
          </div>
            <% } %> 
        </div>
          
        <div class="upload-btn-wrapper ml-4 pl-4">
          <button class="btn up">Change</button>
          <input type="file" name="avatar" accept="image/*" />
        </div>
        <div class="card-body" >
          <div class="d-flex">
          <div class="shadow mb-4 mr-2" style="background-color:#ffffff;border-radius: 20px;width: 250px">

            <div class="card-body " >
              
                <div class="p-2 m-2" style="width: fit-content;background-color: #E5F6FD; border-radius: 10px;">
                  <p class="m-0" style="font-size:smaller;font-weight:bolder; color: #2EBBF8;"><i class="fas fa-envelope mr-2"></i>Email </p></div>
              <p class="m-0 pb-2 custom" style="font-size:smaller"><%=user.email %></p>
           
            </div>
          </div>
          <div class="shadow mb-4 mr-2" style="background-color:#ffffff;border-radius: 20px;width: 160px">
            <div class="card-body " >
              
                <div class="p-2 m-2" style="width: fit-content;background-color: #f7dba8e1;; border-radius: 10px;">
                  <p class="m-0" style="font-size:smaller;font-weight:bolder; color: #ca8300e1;">
                    <i class="fa fa-user mr-2"></i>Reg</p>
                  </div>
              <p class="m-0 pb-2 custom" style="font-size:small"><%=user.reg%></p>
           
            </div>
          </div>
          <div class="shadow mb-4" style="background-color:#ffffff;border-radius: 20px;width: 150px">
            <div class="card-body " >
              
                <div class="p-2 m-2" style="width: fit-content;background-color: #f7eba8e1;; border-radius: 10px;">
                  <p class="m-0" style="font-size:smaller;font-weight:bolder; color: #beb208e1;">
                    <i class="fa fa-group mr-2"></i>Dept</p>
                  </div>
              <p class="m-0 pb-2 custom" style="font-size:small"><%=user.department%></p>
           
            </div>
          </div>
        </div>
          <p class="card-title"><b> 
            <label for="password">Change Password: </label>
            <input type="password" name="password" id="pass" onfocus="appearSubmit(event)"> </p>
          </form>
          <% } else{%>
            <img src="<%=user.avatar.url %>" class="avatar img-fluid" id="dp">
            
            <%}%>
         
               
        </div>
      </div>

<% } %> 
<!-- New PopUp Modal For create Community -->
<%- include("partial/newCommunity") %> 
<%- include("partial/scripts") %>
<script>
   let loadFile = function(event) {
     $('button').removeClass('d-none');
    let reader = new FileReader();
    reader.onload = function(){
      let output = document.getElementById('dp');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  };
  function appearSubmit(event)
  {
    $('button').removeClass('d-none');
  }
</script>
<%- include("partial/foot") %>
