<%- include("partial/head") %>
<%- include("partial/sidebar_left") %>
<div class=" d-flex align-content-around flex-wrap w-50 p-4 m-auto " >
    <a href="/tag/error" style="text-decoration:none; color: black;"><div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-exclamation-circle float-right" style="color: brown;font-size:48px" ></i>
          <h5 class="card-title">Error</h5>
          <p class="card-text">There are lots error in the sea but its feel so empty without this.</p>
        </div>
    </div>
   </a>
   <a href="/tag/bug" style="text-decoration:none; color: black;">
    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-bug float-right" style="color: rgb(70, 65, 65);font-size:48px" ></i>
          <h5 class="card-title">Bug</h5>
          <p class="card-text">Bug dont bite us but it will kill us.</p>
        </div>
    </div>
</a>
<a href="/tag/searching" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-search float-right" style="color: rgb(55, 121, 138);font-size:48px" ></i>
          <h5 class="card-title">Searching</h5>
          <p class="card-text">Searching  the of end the world but couldn't found it.</p>
        </div>
    </div>
    </a>
    <a href="/tag/help needed" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fab fa-hire-a-helper float-right" style="color: rgb(22, 21, 21);font-size:48px" ></i>
          <h5 class="card-title">Help needed</h5>
          <p class="card-text">I know i will get help from here.</p>
        </div>
    </div>
    </a>
    <a href="/tag/annoucement" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-bullhorn float-right" style="color: rgb(224, 123, 28);font-size:48px" ></i>
          <h5 class="card-title">Annoucement</h5>
          <p class="card-text">Gather around i have an annoucement for you.</p>
        </div>
    </div>
    </a>
    <a href="/tag/important" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-star float-right" style="color: rgb(233, 18, 18);font-size:48px" ></i>
          <h5 class="card-title">Important</h5>
          <p class="card-text">Hey you click here because its important.</p>
        </div>
    </div>
    </a>
    <a href="/tag/memes" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fas fa-poo float-right" style="color: rgb(47, 39, 37);font-size:48px" ></i>
          <h5 class="card-title">Memes</h5>
          <p class="card-text"> Memes are is the best part of every community.</p>
        </div>
    </div>
    </a>
    <a href="/tag/new things" style="text-decoration:none; color: black;">

    <div class="card m-2 shadow" style="width: 18rem;border-radius: 20px;">
        <div class="card-body">
          <i class="fab fa-neos float-right" style="color: rgb(124, 101, 0);font-size:48px" ></i>
          <h5 class="card-title">New things</h5>
          <p class="card-text">Find new things everyday.</p>
        </div>
    </div>
    </a>
</div>
<!-- New PopUp Modal For create Community -->
<%- include("partial/newCommunity") %> 
<%- include("partial/scripts") %>
<%- include("partial/foot") %>