<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
  
    <!-- Left elements -->
    
    <button class="navItem" type="button" id="sidebarCollapse" data-toggle="collapse">
        <span class="lnr lnr-menu mr-4" style="color: rgb(0, 0, 0);"></span>
    </button>   
    <a class="navbar-brand  me-2 mb-1 d-flex align-items-center" href="/">
      <div class="navItem" style="width: fit-content;">
      <img
        src="/img/owl.ico"
        width="70px"
        alt="cant load"
        loading="lazy"
        style="margin-top: 2px;"

      />
    </div>
    </a>
    
    <ul class="navbar-nav mr-2 ml-auto">
        <li class="nav-item  home">
          <a class="nav-link" href="/"><i class="fa fa-home" style="font-size: 18px;"></i></a>
        </li>
    </ul>

  <i class="fa fa-arrow-left mr-4" style="display: none;"> </i>
 <form class="form-inline my-2 my-lg-0">
   <div class="searchbar">
    
    <input class="form-control form-control-sm" type="text" placeholder="&#xf002;  search.." aria-label=".form-control-sm example">  
  </div>
  </form>
  

    
<ul class="navbar-nav mr-4 ml-auto">
  
  <div class="container-fluid d-flex justify-content-end">
<li class="nav-item my-3 searchIcon">
    <i class="nav-link fa fa-search" style="font-size:18px;"></i>
</li>
    
<li class="nav-item my-3">
  <a class="nav-link" href="#"><i class="fa fa-bell" style="font-size:18px"></i></a>
 </li>
 <li class="nav-item my-3">
  <% if(currentUser.contribution < 500){ %>
    <a class="nav-link " style="font-weight:bolder;font-size:small;color: #28bbfa; background-color: #E5F6FD; border-radius: 20px;" href="/profile/<%=currentUser._id%>"><img src="<%=currentUser.avatar.url %>" class="avatar2">   
      <b class="ml-2"></b><%=currentUser.name%></a>
      <%}else{%>
        <a class="nav-link " style="font-weight:bolder;font-size:small;color: #c808ee; background-color: #f1caf773;; border-radius: 20px;" href="/profile/<%=currentUser._id%>"><img src="<%=currentUser.avatar.url %>" class="avatar2">   
          <b class="ml-2"></b><%=currentUser.name%></a>
        <%}%>
 </li>
   
</div>
</ul>
</nav>