<%- include("partial/head") %>
<div class="container">
    <h1 class="display-1">Hello ShikariSohan</h1>
     <% community.forEach(com => { %>
        <div class="card">
            <div class="card-header">
                Dashboard Of <%= com.name %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= com.name %></h5>
              <p class="card-text">Hey Admin Manage your Community</p>
              <a href="/dashboard/<%= com.name %> " class="btn btn-success">Go to DashBoard</a>
            </div>
        </div>
     <% }) %> 
   
</div>
<%- include("partial/foot") %>